<!DOCTYPE html>
<html>
<head>
	<title>T博</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/details.css">
	<link rel="stylesheet" type="text/css" href="../static/css/comm.css">
</head>
<body>
	<div class="article_body">
		<header class="nav">
			<a href="index.html" class="logo">首页</a>
			<a href="javascript:;" class="write">写文章</a>
		</header>
		<div class="write_body">
			<form action="/write" method="POST">
				<input type="text" placeholder="请输入标题" name="title">
				<textarea placeholder="请输入正文" name="content"></textarea>
                <input type="hidden" name="uid" value={{ usr.id }}>
				<input type="submit" value="提交">
			</form>
		</div>
		<footer class="foot">
			<p>by 3tGroup</p>
		</footer>
	</div>
</body>
</html>