{% extends "base_style.html" %}
{% block home_name %} student_info {% endblock %}
{% block title %} 学生成绩表 {% endblock %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>gender</th>
        <th>chinese</th>
        <th>math</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    {% for person in info %}
    <tr>
        <td><a href="/detail_info?uid={{ person.id }}">
            {{ person.name }}
        </a>
        </td>
        <td>{{ person.gender }}</td>
        <td>{{ person.chinese }}</td>
        <td>{{ person.math }}</td>
        <td>
            <a href="/change_info?uid={{ person.id }}">修改</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block sidebar %}
        <span>成绩排名前五的是</span>
        <hr>
        <ol>
        {% for s in order_s  %}
            <li>{{ s.name }},总成绩:{{ s.chinese + s.math }}</li>
        {% endfor %}
        </ol>

{% endblock %}